DATABASE_URL="postgresql://postgres:postgres@localhost:5432/joss_studio"

# Google Calendar - Service Account Integration
GOOGLE_SERVICE_ACCOUNT_EMAIL="joss-studio-calendar@tu-proyecto.iam.gserviceaccount.com"
GOOGLE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nCOPIA_EL_VALOR_DEL_ARCHIVO_JSON\n-----END PRIVATE KEY-----\n"
GOOGLE_PROJECT_ID="tu-project-id"
GOOGLE_CALENDAR_ID="abc123def456@group.calendar.google.com"